{% extends 'base.html' %}
{% load plate_filter %} <!-- 템플릿 필터 등록 -->
{% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'reset.css' %}">
{% block content %}
<div class="container">

    <form method="post" action="{% url 'common:login' %}">
        {% csrf_token %}
        <span>아이디 : </span><input type="text" name="username" value="{{ form.username.value|default_if_none:'' }}"><br>
        <span>비밀번호 : </span><input type="password" name="password" value="{{ form.password.value|default_if_none:'' }}">
        <div id="login_btn"><input type="submit" value="로그인"></div>

    </form>
</div><!--//container-->
{% endblock %}